body {
    background-color: #EAF6F6;
}

hr{
    /* background-color: white; */
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    height: 0%;
    border-color: gray;
    border-width: 7px;
}

h1, h3{
    color: #66BFBF;
}